@using MoviesSystem.Web.Infrastructure.Constants
@model MoviesSystem.Data.Models.Studio

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Studio</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

    </dl>
</div>
<p>
    @if (User.IsInRole(MoviesSystemRoles.Administrator))
    {
        @Ajax.ActionLink("Edit", "Edit", new { id = Model.Id }, new AjaxOptions { UpdateTargetId = "body" }) @: | 
    }
    @Ajax.ActionLink("Back", "Index", new AjaxOptions { UpdateTargetId = "body" })
</p>
